h1 {
    color: rgb(8, 17, 139);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    font-style: inherit;
    text-align: initial;
    text-transform: capitalize;
    margin: 2rem;
}

body {
    background: rgb(192, 201, 209);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

section {
    width: 430px;
}

label {
    font-size: 18px;
    background:rgb(208, 207, 212);
    font-weight: bold;
    padding: 8px 45px;
    display: block;
    box-shadow: 5px 5px 5px rgb(179, 184, 179);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
/*

div#text{
    text-align: center;
    margin-left:inherit;
    margin-bottom: 10px;
    white-space: initial;
    padding:initial;
    display: grid;
    grid-column: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 10px rgb(168, 162, 162);
    position:-webkit-sticky;
    justify-content: space-between;
}

div#fractal_holder {
    margin-left:inherit;
    margin-bottom: 10px;
    justify-content: right;
}

*/

select {
    font-size: 15px;
    color: #fff;
    background:rgb(34, 68, 139);
    padding: 8px 30px;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(221, 221, 221);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
}

button {
    font-size: 20px;
    font-weight: bold;
    margin: 3rem;
    background:rgb(205, 226, 195);
    cursor: pointer;
    box-shadow: rgb(179, 184, 179);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*div{
    margin-left:inherit;
    margin-bottom: 10px;
}*/