<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{url_for('static', filename='dstyle.css')}}" />

	<title>documentation</title>
</head>

<body>
	<h1>Documentation</h1>
	<div class="documentation">
		<ul>
			<li><a href="{{url_for('static', filename='Requirement_analysis.pdf')}}" download>
					Download
				</a>
				<p>Download requirement analysis</p>
			</li>
			<li><a href="{{url_for('static', filename='Specification.pdf')}}" download>
					Download
				</a>
				<p>Download specification</p>
			</li>
			<li><a href="{{url_for('static', filename='Software_Design.pdf')}}" download>
					Download
				</a>
				<p>Download software design</p>
			</li>
			<li><a href="{{url_for('static', filename='User_documentation.pdf')}}" download>
					Download
				</a>
				<p>Download user documentation</p>
			</li>
		</ul>
	</div>
	<div class="links">
		<ul>
			<li><a href="https://github.com/team-not-found" target="_blank">
					Go to the GitHub page!
				</a>
			</li>
		</ul>
		<ul>
			<li><a href="https://www.youtube.com/watch?v=b70-1ElVLG4" target="_blank">
					Go to the YouTube tutorial!
				</a>
			</li>
		</ul>
	</div>
</body>

</html>