<!DOCTYPE html>
<html>
<head>
  <!-- Include this to use jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
      $("#generate").click(function(e) {
        e.preventDefault();
        $.ajax({
          url: "/update_fractal",
          type: "POST",
          dataType: "json",
          success: function(data) {
            $(fractal_holder).replaceWith(data)
          }
        });
      });
    });
  </script>

  <title>team-not-found</title>
</head>
<body>
  <h1>Webpage of team-not-found</h1>
  <form method="post">
    <label for="types">Choose a fractal:</label>
    <select name="type">
      <option value="fern">Fern</option>
      <option value="other">Other</option>
    </select>
    <br>
    <label for="resolutions">Choose resolution:</label>
    <select name="resolution">
      <option value="1920_1080">1920 X 1080</option>
      <option value="1440_1080">1440 X 1080</option>
      <option value="1024_640">1024 X 640</option>
    </select>
    <br>
    <label for="stepsizes">Choose stepsize:</label>
    <select name="stepsize">
      <option value="10000000">10,000,000</option>
      <option value="20000000">20,000,000</option>
      <option value="40000000">40,000,000</option>
    </select>
    <br>
    <button id="generate", type="button">Generate!</button>
  </form>
  <div id = "fractal_holder">
    {{plot_fractal}}
  </div>
</body>
</html>